//Калькулятор визиток
#main {
  margin-top: 100px;

  .calc {
    padding: 20px 30px;
    border: 7px solid #aeaeae;

    label {
      margin-top: 15px;
    }

    h4 {
      margin-top: 30px;
      margin-bottom: 25px;
    }

    .price {
      line-height: 1em;
      font-size: 40px;
      font-weight: 700;
    }
  }

  .card-images {
    img {
      display: none;
    }
    #card_1_0 {
      display: inline-block;
    }
  }
}

//Калькулятор стоимости автомобиля
.main.auto {
  margin-top: 30px;

  h1 {
    margin-bottom: 30px;
  }
  h2, h3 {
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .imgHolder {

    img {
      width: 100%;
    }
  }

  #autoForm {
    margin-top: 50px;
  }

  .model-summary {

    .model-name {
      font-size: 30px;
      font-weight: 900;
    }
    .model-specs {
      font-size: 18px;
      margin: 5px 0;
    }
    .model-price {
      font-size: 24px;
      font-weight: 700;
    }
    .button {
      font-size: 18px;
      margin-top: 10px;
      font-weight: 600;
    }
  }

  #autoForm {

    .form-block {

      label {
        font-size: 18px;
      }
    }
  }

  #colorSelect {
    display: flex;

    .colorItem {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: black;
      margin: 0 10px;
      cursor: pointer;
    }

    .colorBlue {
      background: #046bff;
    }
    .colorWhite {
      background: #f0f0f0;
    }
    .colorRed {
      background: #eb0000;
    }
    .colorBlack {
      background: black;
    }
    .colorSilver {
      background: silver;
    }
    .colorOrange {
      background: #eb8700;
    }
    .colorGray {
      background: gray;
    }
  }
}


